.dashboard-header-container {
    display: flex;
}

.dashboard-header-container>div {
    flex: 1;
    padding: 30px;
}

.dashboard-left-container {
    margin-left: 2%;
    max-width: 550px;
}

@media (max-width: 990px) {

    .dashboard-header-container {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-left-container {
        margin-left: 0;
    }

    .header-img {
        display: none;
    }

}

.dashboard-header-heading {
    margin-top: 9%;
    color: white;
    font-size: 80px;
}

.header-highlight-color {
    color: red;
}

.dashboard-header-content {
    color: gray;
    font-size: 25px;
}

.header-btn-container {
    margin-top: 1%;
}

.order-btn {
    background-color: red;
    width: 300px;
    color: white;
    padding: 3%;
    border: 0px;
    border-radius: 15px;
}

.see-menu {
    margin-left: 10%;
    color: #caa55e;
    border-bottom: 1px solid #caa55e;
}

.see-menu:hover {
    color: #caa55e;
}

.header-img {
    max-width: 800px;
}

#categories {
    margin: 3% 1%;
}

@media (max-width:990px) {
    #categories {
        margin: 3% 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.popular-items {
    display: flex;
}

.popular-items-heading {
    color: white;
    margin-left: 4%;
}

@media (max-width:990px) {
    .popular-items-heading {
        display: flex;
        justify-content: center;
    }
}

#popular-items {
    margin: 1% 0%;
    display: flex;
    flex-wrap: wrap;
}

.space-in-btw {
    margin-left: 4%;
}

@media (max-width:990px) {
    #popular-items {
        margin-left: 9%;
    }   
}

.see-more{
    margin-left: 70%;
    color: #caa55e;
    text-decoration: underline;
}

.see-more:hover {
    color: #caa55e;
}